
body {
background-color: whitesmoke;
color:black;
font-family: serif;
font-size: 1em;

}

#headerText {
    color: whitesmoke;
}



#about {
    text-align: center;
    font-weight: bold;
}


#menuitem {
    /* background-color: #4aaaa5; */
     color: white;
    font-weight: bold;
    /* margin: auto .5em; */
  display: block;
 /* margin-left: 400px; */
    /* border-color:  rgb(70, 64, 64); */
}

 

/* this id is on all html  */
#menuitem:hover {
    background-color:lightgray;
    
}
.jumbotron {
    background-color: black;
}

#portfolio{
    margin-left: 50%;
    color:black;
    border-bottom: 2px solid black;
}
#about {
    border-bottom: 2px solid black;
}

#headingTwo, #headingOne, #headingThree {
    text-align: center;

}


.container {
    margin-top: 10%;
}
.btn-link {
    color: black;
}
#contact{
    margin-left: 20%;
    color:black;
    border-bottom: 2px solid black;
}
#ColOne {
   
    border: solid black 1px ;
    height: 500px; 
    padding: 0px; 
}
#ColThree {
   
    border: solid black 1px ;
    height: 500px;  
    margin-bottom: 1em;
    padding: 0%;
}
 #imgOne {
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding: 0%;
   margin: 0;

    /* text-align: center;
    color: white;
    margin: 10px 10px 10px 20px; */
 }

 .Center h5{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #4aaaa5;
    text-align: center;
    color: rgb(70, 64, 64);
font-family: serif;
font-size: 1em;
font-weight: bold;
line-height: 2em;
height: 15%;

  }

  .Center:hover {
    background-color:lightgray;
  }


/* this id is on all html  */
/* #foot {
    background-color:#666666;
    border-top: 8px solid #4aaaa5; 
   width: 100%;
    color: rgb(70, 64, 64);
    bottom: 0%;
    position: fixed;
    margin-top: 2em;
    
    /* height: 100px;  */
    /* text-align: center;
    line-height: 5em; */
    /* }  */

    #portfolioFoot {
        background-color:#666666;
    border-top: 8px solid #4aaaa5; 
   width: 100%;
    color: rgb(70, 64, 64);
    bottom: 0%;
    /* position: fixed; */
    margin-top: 2em;

    }

    #messagebox {
        height: 50%;
    }