#aboutMe {
   border-radius: 25px;
  padding: 20px; 
  width: 200px;
  height: 150px; 

}
#htmlDiv {
    border-radius: 25px;
    background:#5BA9FF;
    padding: 20px; 
    width: 300px;
    margin-top:-25px;
    margin-left: 50px;
      
}

#cssDiv {
   border-radius: 25px; 
   padding: 50px; 
   width: 40px;
   margin-top:-25px;

}
#javasDiv {
    border-radius: 25px; 
    padding: 10px; 
    width: 100px;
    height: 200px; 
    margin-left: 100px;
   

}
#aboutBody {
    border-radius: 25px;
    font-family: 'Judson', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Permanent Marker', cursive;
    background:whitesmoke;
    color: black;
    text-align: center;
    padding: 20px; 
    width: 200px;
    height: 150px; 
   margin-bottom: 200px;
}


body {
background-color: whitesmoke;
color:black;
font-family: serif;
font-size: 1em;

}

#headerText {
    color: whitesmoke;
}
#portfolioHeader {
    margin-left: 0;
    text-align: center;
    font-weight: bold;
    border-bottom: none; 
}

#projButton {
margin-left: 80%;
}
img {
 height: 200px;
}



#about {
    color: white;
    font-weight: bold;  
    display: block;
}
.btn-dark {
    
  color: white;
    font-weight: bold;
  display: block;
  margin: 10px;
  

    
}

.btn-dark:hover {
background-color: black;
}

 


.jumbotron {
    background-color: black;
}

#portfolio{
    margin-left: 50%;
    color:black;
    border-bottom: 2px solid black;
}
#about {
    border-bottom: 2px solid black;
}

#headingTwo, #headingOne, #headingThree {
    text-align: center;

}


.container {
    margin-top: 10%;
}
.btn-link {
    color: black;
}
#contact{
    margin-left: 20%;
    color:black;
    border-bottom: 2px solid black;
}
#ColOne {
   
    border: solid black 1px ;
    height: 500px; 
    padding: 0px; 
}
#ColThree {
   
    border: solid black 1px ;
    height: 500px;  
    margin-bottom: 1em;
    padding: 0%;
}
 #imgOne {
   height: 100%;
   width: 100%;
   object-fit: cover;
   padding: 0%;
   margin: 0;

    /* text-align: center;
    color: white;
    margin: 10px 10px 10px 20px; */
 }

 .Center h5{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #4aaaa5;
    text-align: center;
    color: rgb(70, 64, 64);
font-family: serif;
font-size: 1em;
font-weight: bold;
line-height: 2em;
height: 15%;

  }

  .Center:hover {
    background-color:lightgray;
  }



    #portfolioFoot {
        background-color:#666666;
    border-top: 8px solid #4aaaa5; 
   width: 100%;
    color: rgb(70, 64, 64);
    bottom: 0%;
    /* position: fixed; */
    margin-top: 2em;

    }

    #messagebox {
        height: 50%;
    }