body {
background-color:lightgray;
color: rgb(70, 64, 64);

}

img {
    width: 100%;
    height: 100%;
}
#navigation {
   background-color: #4aaaa5;
    height: 3em;  
}

#menuitems {
    color: rgb(70, 64, 64);
}

#foot {
    background-color:#666666;
    border-top: 8px solid #4aaaa5; 
   width: 100%;
    color: rgb(70, 64, 64);
    bottom: 0%;
    position: fixed;
    
    /* height: 100px;  */
    /* text-align: center;
    line-height: 5em; */
    }
